#board {
    display: grid;
    margin: 0;
    grid-template-columns: repeat(3, 0fr); /* Three columns, each taking equal space */
}

img {
    height: 90px;
    width: 90px;
    background-size: cover;
}

.XO, .WinningXO, input[type="button"].XO, input[type="button"].WinningXO
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4FFF00;
    color: black;
    cursor: pointer;
    font-size: 64px;
    border: none;
    text-align: center;
    font-weight: unset;
    width: 150px;
    height: 150px;
    overflow: hidden;
    margin: 0;
}

.XO, input[type="button"].XO {
    background-color: black;
    color: white;
}

.WinningXO, input[type="button"].WinningXO {
    font-weight: bold;
    text-decoration: underline;
}

#XO11, #XO21, #XO31, #XO12, #XO22, #XO32 {
    border-bottom: 2px solid white;
}

#XO11, #XO21, #XO12, #XO22, #XO13, #XO23 {
    border-right: 2px solid white;
}

#XO21, #XO31, #XO22, #XO32, #XO23, #XO33 {
    border-left: 2px solid white;
}

#XO12, #XO22, #XO32, #XO13, #XO23, #XO33 {
    border-top: 2px solid white;
}