#board {
    display: grid;
    margin: 0;
    grid-template-columns: repeat(3, 0fr); /* Three columns, each taking equal space */
}

.XO {
    height: 150px;
    width: 150px;
    font-size: 64px;
    background-color: black;
    color: white;
    border: none;
    text-align: center;
    margin-bottom: 0;
}

#XO11 {
    border-right: 2px solid white;
    border-bottom: 2px solid white;
}

#XO21 {
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    border-left: 2px solid white;
}

#XO31 {
    border-bottom: 2px solid white;
    border-left: 2px solid white;
}

#XO12 {
    border-top: 2px solid white;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
}

#XO22 {
    border-top: 2px solid white;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    border-left: 2px solid white;
}

#XO32 {
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    border-left: 2px solid white;
}

#XO13 {
    border-top: 2px solid white;
    border-right: 2px solid white;
}

#XO23 {
    border-top: 2px solid white;
    border-right: 2px solid white;
    border-left: 2px solid white;
}

#XO33 {
    border-top: 2px solid white;
    border-left: 2px solid white;
}