h1 {
    font-size: 4em;
    border-bottom: none;
    background-color: #4FFF00;
    color: black;
}

h1, #board, #results, #bottomButtons {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1, #board, #results {
    margin: 0;
}