.downButtons {
    /*position: fixed;*/
    /*left: 50%;*/
    /*transform: translateX(-50%);*/
    margin-top: 50px;
}

#reset, #nextGame, #exit {
    font-size: 32px;
    background-color: #4FFF00;
    color: black;
    border: none;
    margin-left: 40px;
    font-weight: bold;
}