#alertText {
    color: black;
}

#reset, #nextGame, #exit {
    margin-left: 15px;
    margin-right: 15px;
    display: inline;
    margin-bottom: 0;
}

.historyArray {
    font-size: 32px;
    background-color: #4FFF00;
    color: black;
    border: none;
    font-weight: bold;
}