#alertText {
    color: black;
}

#reset, #nextGame, #exit, #export {
    margin-left: 10px;
    margin-right: 10px;
    display: inline;
    margin-bottom: 0;
}

#exportGameAlert {
    margin-left: 10px;
    margin-right: 10px;
    display: inline;
    margin-top: 30px;
}

.historyArray {
    font-size: 32px;
    background-color: #4FFF00;
    color: black;
    border: none;
    font-weight: bold;
}

#modalContent {
    z-index: 50;
    width: 600px;
    height: 300px;
    background-size: cover;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('https://i.pinimg.com/originals/e4/d2/c1/e4d2c1d0da356797359acd9270bcdd77.gif');
}